@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import 'branding.css';
@import 'controls.css';
@import 'news.css';
@import 'content.css';

* {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	
	color: #000000;
}